body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #004494;
    color: #fff;
    font-weight: 800;

  }

  #header h2{
    font-size: 25px;
    margin: 0;
  }
  
  .menu {
    border-radius: 8px;
    background: #007bff;
    color: white;
    padding: 20px 30px;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 1px 1px 8px 2px #6e6d6d6e;
  }

  #chat-buttons{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    
  }

  #chat-buttons a{
    text-decoration: none;
  }

  #chat-buttons button{
    width: 100%;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #008b;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
  }



  #chat-buttons button:hover{
    background: rgba(0, 0, 136, 0.537);
  }


  #privateChatForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .private_chat_inputs{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
  }

  .private_input, #groupName{
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 16px;
    margin-bottom: 15px;

  }

  #startPrivateChat, #joinGroupChat{
    width: 50%;
    padding: 12px 10px;
    text-align: center;
    background: green;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 10px
  }

  
  .menu h3 {
    font-size: 28px;
    margin-top: 2px;
    margin-bottom: 30px;
  }
  
  .menu button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #0056b3;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .menu button:hover {
    background: #004494;
  }
  
  #chatSection {
    flex-grow: 1;
    padding: 20px;
  }
  
  .hidden {
    display: none !important;
  }
  
  #messages {
    max-height: 400px;
    overflow-y: auto;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
  }

  #chatWindow{
    width: 80%;
  }
  
  #messageInput {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #bottom_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #sendMessage {
    padding: 10px 60px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  

  @media screen and (max-width: 768px) {
    .menu{
      width: 77%;
      margin: 10px;
    }

    #chatWindow{
        width: 100%;
      }

      .private_chat_inputs{
        flex-direction: column;
      }
      

      .private_input, #groupName{
        width: 86%;
      }
    #messageInput {
        width: 100%;
    }

    #bottom_btn{
        width: 100%;
        flex-direction: column;

        gap: 15px;
      }



      #privateChatForm, #groupChatForm{
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 4px;
      }
  }












  